@model IEnumerable<ProyectoAnalisis2G8.Models.Partida_Diario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Libro de diario</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex mb-1">
                <div class="me-auto p-2">
                    <h4 class="m-0 font-weight-bold text-primary">
                        Partidas de Diario
                    </h4>
                </div>
                <div class="p-2">
                    <input id="dateRangeTxt" type="text" class="form-control text-box single-line" placeholder="Rango de fecha" name="daterange" value="" onfocus="dataRange()" />
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-info" onclick="dateRangeOrganize()">Filtrar por fecha</button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Partida_Diario")'">Nueva Partida</button>
                </div>


            </div>
            </div>

            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-bordered display"
                           id="accItemTable"
                           width="100%"
                           cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    ID Partida
                                </th>
                                <th>
                                    Correlativo
                                </th>
                                <th>
                                    Número de documento
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id_partida)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.correlativo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.num_documento)
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(item.fecha).ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Partida_Diario", new { id = item.id_partida })'">Editar</button>
                                        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Details", "Partida_Diario", new { id = item.id_partida })'">Detalles</button>
                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Partida_Diario", new { id = item.id_partida })'">Borrar</button>
                                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Print", "Partida_Diario", new { id = item.id_partida, correlativo=item.correlativo })'">Descargar</button>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</div>




<script>
    function dataRange() {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            "locale": {
                "format": "DD/MM/YYYY"
            }
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    }


    function dateRangeOrganize() {



        var startdate = $("#dateRangeTxt").data('daterangepicker').startDate.toISOString().split('T')[0];
        var enddate = $("#dateRangeTxt").data('daterangepicker').endDate.toISOString().split('T')[0];
   
        if (!startdate && !enddate) { // no value for from and to
            return;
        }

        startdate = startdate || '1970-01-01'; // default from to a old date if it is not set
        enddate = enddate || '2999-12-31';

        var dateFrom = moment(startdate);
        var dateTo = moment(enddate);
    
        $('#accItemTable tbody tr').each(function (i, tr) {
            var val = $(tr).find("td:nth-child(4)").text();
            var dateVal = moment(val, "DD/MM/YYYY");
            var visible = (dateVal.isBetween(dateFrom, dateTo, null, [])) ? "" : "none"; // [] for inclusive
            $(tr).css('display', visible);
        });

    }
               




</script>




