@model IEnumerable<ProyectoAnalisis2G8.Models.Detalle_Partida_Diario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.debe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.haber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nomenclatura.num_cuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_partida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.debe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.haber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nomenclatura.num_cuenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_partida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
